ul.wp-block-ls-blocks-ls-lesson {
 list-style: none;
	max-width: 1000px;
 margin: 0;
 padding: 0;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 30px;

 li {
  display: block;

  img {
   width: 100%;
   height: auto;
  }

  h5 {
   font-size: 20px;
   margin: 0 0 5px;
   line-height: 1.4;
  }
 }
}